.SettingsGrid {
}

.userAvatar {
    object-fit: cover;
    width: auto;
    height: 100px;
}


.vertCenterAlign {
    display: flex;
    align-items: center;
}

.settingDisplay {
    text-align: left;
}